$primary-black: #030303;
$secondary-black: #0e0e0e;
$primary-white: #fff;
$secondary-white: #a8a8a8;
$call-to-action-bg: #2727278a;

body {
  background-color: $secondary-black;
}

.about {
  min-height: 50vh;
  background-color: $secondary-black;
  padding: 80px 0;
  text-align: right;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .about-content {
    width: 60%;
    margin: 0 auto;
    .title {
      font-size: 2.5vw;
    }
    .desc {
      font-size: 1.2vw;
      margin: 40px 0 0 0;
      text-align: justify;
    }
    .btn {
      text-decoration: none;
      background-color: $call-to-action-bg;
      border: 0;
      padding: 8px 20px;
      margin: 10px 0;
      color: $primary-white;
      font-size: 1vw;
      display: inline;
    }
  }
}

.section3 {
  padding: 150px 10%;
  background-color: $primary-black;
  color: $primary-white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .info {
    p {
      padding: 3px 0;
      color: $secondary-white;
    }
    a {
      color: $secondary-white;
      // font-size: 20px;
      text-decoration: none;
    }
  }
}
